#header,
#nav,
#footer {
    width: 100%;
}

body {
    font-family: Verdana;
    font-size: 12px;
}

#header,
#nav,
#footer,
#cuerpo1,
#cuerpo2,
#cuerpo3 {
    padding: 10px;
}

#header,
#nav,
#footer {
    width: 844px;
    margin: auto;
}

#cuerpo {
    width: 865px;
    margin: auto;
}

#header {
    background-color: #030303;
    height: 150px;
}

#nav {
    background-color: #FF3366;
    height: 30px;
    text-align: center;
}

#cuerpo1 {
    width: 200px;
    background-color: #FF999A;
    height: 404px;
    float: left;
}

#cuerpo2 {
    width: 400px;
    background-color: #CCCCCC;
    height: 400px;
    float: left;
    border: 2px dashed gray;
}

#cuerpo3 {
    width: 200px;
    background-color: #999999;
    height: 404px;
    float: left;
}

#footer {
    background-color: #7A7A7A;
    height: 20px;
    clear: both;
    font-size: 0.8em;
}

ul li {
    margin: 5px;
}

#nav p {
    font-weight: bolder;
}

h1 {
    color: pink;
    margin: 40px 80px;
    font-size: 3em;
}

h2 {
    color: red;
}

h3 {
    color: pink;
}

h4 {
    color: gray;
}