section {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    gap: 20px;
}

.forma1 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 5px;
}

.forma2 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-top-left-radius: 40%;
}

.forma3 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 10px;
}

.forma4 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 80px 20px;
}

.forma5 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 20px;
}

.forma6 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 60px 20px 5px;
}

.forma7 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 40px;
}

.forma8 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 60px 20px 5px 90px;
}

.forma9 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 60px;
}

.forma10 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 60px/20px;
}

.forma11 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 13em/3em;
}

.forma12 {
    background-color: yellow;
    border: solid 5px black;
    width: 300px;
    height: 110px;
    text-align: center;
    border-radius: 50%;
}